body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridBox{
    margin: -1px;
    border: 1px solid rgba(0, 0, 0, 0.37);
}

#container{
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-wrap:wrap;
    color:  rgba(255, 255, 255)
}